<!DOCTYPE html>
<html ng-app="redditApp">
<head>
	<title>notReddit</title>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script> -->
	<script src="js/angular.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="js/reddit.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="bodyController">
	<div class="main" id="header">
		<h1><i class="fa fa-reddit"></i> notReddit</h1>
		<h2 ng-click="showNewPost()"><i class="fa fa-plus-circle"></i> new post</h2>
	</div>
	<div class="main" ng-show="posts.newPostViz">
		<!-- <h2>submit a new post:</h2> -->

 		<div class="fullPost">
			<div class="aPost">
				<div class="left" back-img="{{newPost.image}}">
				</div>
				<div class="right">
					<form id="newPostFormId" name="newPostForm" ng-submit="addPost(newPost)" novalidate>
						<label><span class="err" ng-show="newPostForm.title.$invalid && newPostForm.title.$touched">required </span>title
							<input name="title" class="newPostInput" ng-model="newPost.title" type="text" required>
						</label>
						<br>
						<label>author
							<input name="author" class="newPostInput" ng-model="newPost.author" type="url">
						</label>
						<br>
						<label><span class="err" ng-show="newPostForm.image.$invalid-url">(invalid) </span>image URL
							<input name="image" class="newPostInput" ng-model="newPost.image" type="url">
						</label>
						<br>
						<label><span class="err" ng-show="newPostForm.description.$invalid && newPostForm.description.$touched">required </span>description
							<input name="description" class="newPostInput" ng-model="newPost.description" type="text" required>
						</label>
					</form>
 				</div>
			</div>
 		</div>
 		<button id="formButton" form="newPostFormId" type="submit" value="submit" ng-show="newPostForm.$valid">submit</button>
	</div>
	<div class="main" id="searchsort" ng-hide="posts.newPostViz">
		<span id="sorting">sort by
			<select ng-model="posts.order">
				<option value="-votes">votes</option>
				<option value="-date">date</option>
				<option value="title">title</option>
				<option value="-comments.all.length">comments</option>
			</select>
		</span>
		<span>
			<label>
				search for 
				<input type="text" placeholder=""  size="8" ng-model="posts.search">
			</label>
			<b id="clearSearch" ng-click="clearSearch()">X</b>
		</span>
	</div>
	<div class="main" id="allPosts" ng-hide="posts.newPostViz">
 		<div class="fullPost" ng-repeat="post in posts.all | orderBy: posts.order | filter:posts.search">
			<div class="aPost">
				<div class="left" back-img="{{post.image}}">
					<h1 ng-click="vote(post,1)" ng-mouseover='highlightUp(post)' ng-mouseleave='unhighlightUp(post)'>
						<i ng-class='{green: post.highlightUp}' class="fa fa-arrow-up"></i>
					</h1>
					<h1>{{post.votes}}</h1>
					<h1 ng-click="vote(post,-1)" ng-mouseover='highlightDown(post)' ng-mouseleave='unhighlightDown(post)'>
						<i ng-class='{red: post.highlightDown}' class="fa fa-arrow-down"></i>
					</h1>
				</div>
				<div class="right">
					<h1>{{post.title}}</h1>
					<h4>
						<span>{{post.date}}</span>
						<span class="ital">{{post.author}}</span>
					</h4>
					<p class="desc">{{post.description}}</p>
					<h2 class="commentButton" ng-click="toggleCommentViz(post)"><i class="fa fa-comments-o"></i> <ng-pluralize count="post.comments.all.length" when="{0:'no comments', 1:'1 comment','other':'{{post.comments.all.length}} comments'}"></ng-pluralize><!--  {{post.comments.all.length}} comments --></h2>
				</div>
			</div>
 			<div class="comments" ng-show="post.comments.allViz">
				<div ng-repeat="comment in post.comments.all" class="aComment">
					<p>{{comment.text}} - <i>{{comment.author}}</i></p>
				</div>
				<div class="newComment">
					<form ng-submit="addComment(post, newComment)">
						<label>new <input ng-model="newComment.text" type="text" placeholder="comment"></label>
						<label>by <input ng-model="newComment.author" type="text" size="8" placeholder="author"></label>
						<button id="commentButton" type="submit" value="submit">submit</button>
					</form>
				</div>
			</div>
 		</div>
	</div>
</body>
</html>