html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	font-family: 'Open Sans', sans-serif;	/*padding:20px;*/
	/*background-color: #C3F3C0;*/
	background: linear-gradient(to right, #C3F3C0, #88C3EA);
	
}

.main {
	/*background-color: #C3F3C0;*/
	border-radius: 4px;
	width:600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	/*display: flex;*/
}

#header {
	justify-content:space-between;
	align-items:center;
	font-size:120%;
	display: flex;
}

#searchsort {
	justify-content:space-between;	
	display: flex;
}

.fullPost {
	width:600px;
	display: block;
}

.left {
	/*background-image: url("http://www.jontejada.com/assets/DSC_0530.jpg");*/
	background-size: cover;
	width:200px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color:white;
	text-align: center;
	font-size:130%;
	text-shadow:0 0 15px rgba(0,0,0,0.3);
}

.right {
	flex:1;
	padding-left: 15px
}

.aPost {
	display: flex;
	border-radius: 20px;
	border-style: solid;
	border-width: 4px;
	border-color: white;
	background-color:white;
	margin-top: 20px; 
}

.fa-reddit {
	transform: rotate(180deg)
}

select {
	border: 0;
	height: 25px;
	background: #3cb0fd;
	background: rgba(136,195,234,0.9);
	color:white;
	font-size: 110%;
	}

select:focus {
	outline: none;
}

.comments {
	background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0));
	/*background: linear-gradient(red, yellow);*/
	margin-top:-16px;
	margin-left:100px;
	width: 480px;
	padding:10px;
}

.aComment {
	/*padding:10px;*/
}

.ital {
	font-weight: 600;
	font-style: italic;

}

h1 {
	font-weight: 800;
}

input {
	/*display: block;*/
	margin: 0;
	/*width: 100%;*/
	font-size: 18px;
	/*appearance: none;*/
	/*box-shadow: none;*/
	border-radius: 2px;
	border: none;
	border-bottom: solid 2px white;
	/*transition: border 0.3s;*/
	/*background-color: rgba(255,255,255,0.2);*/
	background-color: rgba(136,195,234,0.9);
	color:white;
	margin:10px;
	text-align: center;
}

input:focus {
	outline:none;
}

.newPostInput {
	border:none;
	/*font-size: 22px;*/
	border-radius: 20px;
	line-height: 2.5;
}

form {
	text-align: right;
	/*margin-right: 10px;*/
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  text-align: center;
}

#sorting {
	/*color:white;*/
}

i {
	padding-bottom: 2px;
}

::selection { background: transparent; }
input::selection { background: black; }
/*
.fa-arrow-up:hover {
	color:#06D6A0;
	font-size: 125%;
	text-shadow:0 0 15px rgba(255,255,255,0.3);

}
*/

.green {
	color:#06D6A0;
	font-size: 125%;
	text-shadow:0 0 15px rgba(255,255,255,0.3);

}

.red {
	color:#F56960;
	font-size: 125%;
	text-shadow:0 0 15px rgba(255,255,255,0.3);

}

button {
	background-color: rgb(136,195,234);
	border-style: none;
	height:30px;
	color:white;
	font-size: 120%;
	border-radius: 4px;
}

button:focus {
	outline:none;
}

.err {
	color:red;
}